/*post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/* Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/
.two {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}
.div3 {
    background: lightsalmon;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    width: 1000px;
    margin: 10px;

}

.div2 {
    background: lightsalmon;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-flex;
    align-content: center;
    width: 300px;
}
body {
    background: #f1f199;
}